html, body { 
  height: 100%; width: 100%; margin: 0; 
} 
body{
  background-color:white; overflow:hidden; 
  font-family: "Trebuchet MS"; 
}
 #map {
 margin: 5px;
  border:solid 4px #224a54;
  -moz-border-radius: 4px;
  
}
#map_root{
  width: 100% !important;
  height: 100% !important;
}
#header {
  background-image: url(../images/banner.jpg); background-repeat: repeat-x;
  margin: 2px;
  border: solid 4px #224a54;
  color:white; font-size:18pt; 
  text-align:left; font-weight:bold; height:70px;
}
#subheader {
  font-size:small;
  color:white;
  padding-left:20px;
}
#rightPane{
  background-color:white;
  color:#3f3f3f;
  border: solid 2px #224a54;
  width:20%;
}
#leftPane{
  margin: 5px;
  padding:2px;
  background-color:white;
  color:#3f3f3f;
  border: solid 2px #224a54;
  width:20%;
}

#footer {
  margin: 2px;
  border: solid 2px #224a54;
  background-color:#ecefe4;color:#3f3f3f;
 font-size:10pt; text-align:center; height:40px;
}
.dijitTabInnerDiv{
  background-color:#ecefe4;
}
#tabs{
  padding:5px;
}




#homeBottom {
  position: absolute;
  top: 95px;
  left: 27px;
  z-index: 50;
}




/*Beginning of search box modifications*/
.arcgisSearch .searchClear {
  background-color: #E5E5E5;
}
.arcgisSearch .esri-icon-search {
  background-image: url("finding.png");
  background-size: 20px 20px;
}
.esri-icon-search:before {
  content: "";
}
.arcgisSearch .searchGroup .searchInput,
.arcgisSearch .searchBtn,
.arcgisSearch .noResultsMenu,
.arcgisSearch .suggestionsMenu {
  border: 1px solid #003300;
  background-color: #E5E5E5;
}
.arcgisSearch .noValueText {
  color: red;
  font-size: 14px;
}
/*Beginning of popup modifications*/
.esriPopup .titlePane {
  background-color: #003300;
  border-bottom: 1px solid #121310;
  font-weight: bold;
}
.esriPopup a {
  color: #DAE896;
}
.esriPopup .contentPane,
.esriPopup .actionsPane,
.esriPopup .pointer,
.esriPopup .outerPointer {
  background-color: #B3B3B3;
}